<p id="notice"><%= notice %></p>

<%= link_to 'New Post', new_post_path %>

<%#= TODO: сделать, что бы таймер инициализировался к каждой записи %>

<% @posts.each do |post| %>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div id="postlist">
        <div class="panel">
          <div class="panel-heading">
            <div class="text-center">
              <div class="row">
                <div class="col-sm-9">
                  <h3 class="pull-left"><%= post.name %></h3>

                </div>
                <div class="col-sm-3">
                  <h4 class="pull-right">
                    <small><em><%= post.created_at.strftime("%b, %d, %Y %I:%M:%S") %></em></small>
                  </h4>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <div id="countup">
              Уже прошло
              <br>
              <p id="days">00</p>
              <p class="timeRefDays">days</p>
              <p id="hours">00</p>
              <p class="timeRefHours">hours</p>
              <p id="minutes">00</p>
              <p class="timeRefMinutes">minutes</p>
              <p id="seconds">00</p>
              <p class="timeRefSeconds">second</p>
            </div>
            <%= content_tag :div, class: "created_at", data: {date: post.updated_at.strftime("%b, %d, %Y %I:%M:%S")} do %>
            <% end %>
            <br>
            <%= post.description %>
          </div>

          <div class="panel-footer">
            <%= form_tag update_status_post_path(post), method: :get do %>
                <%= select_tag 'post_status', options_for_select([['in_progress', 'in_progress'], ['finished', 'finished'], ['aborted', 'aborted']],post.status), {:class => 'form-control'} %>
                <input type="submit" class="btn btn-primary" value="Обновить статус">
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>